<!-- <p>contacts works!</p> -->
<div class="container">
    <h2>Contacts</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Serial No.</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Birth Date</th>
          <th>Age</th>
          <th></th> <!-- for Edit btn -->
          <th></th> <!-- for Delete btn -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ contact.name | uppercase }}</td>
          <td><input type="text" class="form-control" [(ngModel)]="contact.phone" [disabled]="!editModes[i]"></td>
          <td><input type="text" class="form-control" [(ngModel)]="contact.email" [disabled]="!editModes[i]"></td>
          <td [appGenderStyle]="contact.gender" >{{ contact.gender }}</td>
          <td>{{ contact.birthDate | date: 'dd MMM yyyy' }}</td>
          <td>{{ contact.birthDate | age }}</td>
          <td>
            <button class="btn btn-primary" (click)="editModes[i] ? updateContact(i) : editContact(i)">
                {{ editModes[i] ? 'Update' : 'Edit' }}
            </button>
              
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteContact(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  